* {
  box-sizing: border-box;
}
.wrapper {
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 0px;
}
.big-heading {
  padding-top: 1.5rem;
  font-size: 6rem;
  margin-bottom: 0;
}

.stroke:hover {
  color: var(--black);
  text-shadow: -1px -1px 0 rgb(231, 222, 222), 1px -1px 0 rgb(248, 243, 243),
    -1px 1px 0 #fff, 1px 1px 0 #fff;
  transition: all 0.25s;
}

.big-heading-blue {
  color: var(--blue);
}
.big-heading-blue:hover {
  color: var(--yellow);
  transition: all 0.25s;
}
.img-box {
  position: relative;
  width: 40%;
  height: 20%;
  right: 1.5rem;
  margin-top: 0.8 rem;
}

.phone {
  display: block;
  width: 350px;
  height: 600px;
  position: absolute;
  top: 0;
  right: -2rem;
}

.gradient {
  position: absolute;
  width: 260px;
  top: 4.8rem;
  right: 0.2rem;
  height: 5 00px;
}

.para {
  color: var(--grey);
}

.button-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem;
  margin-top: 3rem;
  gap: 3rem;
}
.btn,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
