* {
  box-sizing: border-box;
}
.wrapper {
  margin-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 0px;
  height: 200vh;
}
.big-heading {
  padding-top: 2rem;
  font-size: 8rem;
}

.stroke:hover {
  color: var(--black);
  text-shadow: -1px -1px 0 rgb(231, 222, 222), 1px -1px 0 rgb(248, 243, 243),
    -1px 1px 0 #fff, 1px 1px 0 #fff;
  transition: all 0.25s;
}

.big-heading-blue {
  color: var(--blue);
}
.big-heading-blue:hover {
  color: var(--yellow);
  transition: all 0.25s;
}
.img-box {
  position: relative;
  width: 40%;
  height: 100%;
  right: 1.5rem;
  margin-top: 0.8 rem;
}

.phone {
  display: block;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
}

.gradient {
  position: absolute;
  width: 260px;
  top: 3.2rem;
  right: 2.5rem;
  height: 530px;
}
